@use "./../../../../assets/styles/variables" as *;
@use "./../../../../assets/styles/mixins" as *;

.hero {
    background-image: url("./../../../../assets/home/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0px;

    @include laptop {
        padding: 128px 0px;
    }
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.heroTitle {
    color: #fff;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    font-size: 1rem;
    @include mobile {
        font-size: 1.5rem;
    }
    @include tablet {
        font-size: 2rem;
    }
    @include laptop {
        font-size: 2.5rem;
    }
    @include desktop {
        font-size: 3rem;
    }
}

.Button {
    border-color: #fff;
    color: #fff;
}
