@use "./../../../../assets/styles/variables" as *;
@use "./../../../../assets/styles/mixins" as *;

.hero {
    background-image: url("./../../../../assets/home/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 0px;
}

.heroConrainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.heroTitle {
    color: #fff;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    font-size: 48px;
}

.Button {
    border-color: #fff;
    color: #fff;
}
