@use "./../../../../assets/styles/mixins" as *;

.section {
    padding: 24px 0px;
}

.title {
    margin-bottom: 24px;
    text-align: center;
}

.grid {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
    gap: 16px;
}

.card {
    padding: 24px;
    background-color: #f9f9f9;

    border-radius: 16px;
    transition: transform 0.3s;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.3),
        0 1px 3px rgba(0, 0, 0, 0.1);
    &:hover {
        transform: translateY(-5px);
        box-shadow:
            0 7px 14px rgba(0, 0, 0, 0.2),
            0 3px 6px rgba(0, 0, 0, 0.1);
    }
}

.iconWrapper {
    text-align: center;
    font-size: 2.5rem;
    &:hover {
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
    }
}

.cardTitle {
    margin-bottom: 0.5rem;
}
