@use './../../../assets/styles/variables' as *;
@use './../../../assets/styles/mixins' as *;

.Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-color;
  padding: 0px 8px;

  @include mobile {
    max-width: $mobile;
  }

  @include tablet {
    max-width: $tablet;
    padding: 0px 16px;
  }

  @include laptop {
    max-width: $laptop;
    padding: 0px 24px;
  }

  @include desktop {
    max-width: $desktop;
    padding: 0px 32px;
  }
}
