@use './variables' as *;
@use './reset';

body {
  background-color: $bg-color;
  color: $text-main;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}
