@use "./../../assets/styles/variables" as *;

.contentWrapper {
    padding: 24px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    @media (min-width: 768px) {
        grid-template-columns: 280px 1fr;
    }
}

.filter {
    padding: 12px;
    border-radius: 16px;

    color: #fff;
    background-color: $secondary-color;
}

.title {
    margin-bottom: 16px;
}

.filterSection {
    margin-bottom: 24px;

    h3 {
        font-size: 1.1rem;
        margin-bottom: 12px;
    }
}

.eventGrid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.nothing {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.categoriesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.catBtn {
    text-align: left;
    background: none;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1rem;
    color: #fff;

    &:hover {
        background-color: #f0f0f0;
        color: #000;
    }

    &.active {
        background-color: #333;
        color: #fff;
        font-weight: 600;
    }
}
