@use './../../assets/styles/variables' as *;
@use './../../assets/styles/mixins' as *;

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.globalError {
  background-color: rgba($color-danger, 0.1);
  color: $color-danger;
  padding: 10px;
  border-radius: $border-radius;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid $color-danger;
}
